
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_MODEL=kmamaroziqov/alloma-8b-q4
OLLAMA_TEMPERATURE=0.7

TELEGRAM_BOT_TOKEN=

DB_NAME=lexuz_db
DB_USER=postgres
DB_PASSWORD=changeme
DB_HOST=localhost
DB_PORT=5433

APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
SESSIONS_DIR=sessions
LEX_STRUCTURED_DIR=lex_structured
LOGS_DIR=logs
